/* ----------------------- Slider ----------------------- */
.slider {
    position: relative;
    &__list {
        &-item {
            position: relative;
            @include size(100%, 100vh);
            @include sm() {
                height: 80vh;
            }
            @include xs() {
                height: 70vh;
            }
            @include maxWidth(420px) {
                height: 65vh;
            }
            .slider-content {
                @include positionCenter("both");
                z-index: 200;
                h2 {
                    @include text(
                        $font-bold,
                        $fs-heading-lv1,
                        $tcl-primary,
                        2rem,
                        uppercase
                    );
                    margin-bottom: 4.8rem;
                }
                a {
                    margin: auto;
                }
                @include sm() {
                    top: 38%;
                    h2 {
                        font-size: 7.2rem;
                        letter-spacing: 1rem;
                        margin-bottom: 2rem;
                    }
                    a {
                        padding: 1.4rem 3rem;
                    }
                }
                @include xs() {
                    h2 {
                        font-size: 6.8rem;
                    }
                    a {
                        padding: 1.4rem 2.8rem;
                        img {
                            margin-left: 1rem;
                        }
                    }
                }
                @include maxWidth(440px) {
                    h2 {
                        font-size: 5rem;
                    }
                    a {
                        padding: 1.2rem 2.2rem;
                        font-size: 1rem;
                    }
                }
                @include maxWidth(320px) {
                    h2 {
                        font-size: 4rem;
                    }
                }
            }
            .slider-image {
                @include size(100%);
                object-fit: cover;
            }

            &::before {
                content: "";
                @include position(absolute, 0, 0, 0, 0);
                background-image: linear-gradient(
                    to bottom,
                    rgba($color-black, 0.4),
                    rgba($color-black, 0)
                );
            }
        }
    }

    &__bottom {
        @include position(absolute, null, 0, 4rem, 0);
        .container-fluid {
            @include flex(null, space-between, flex-end);
        }
        .paging {
            &__current {
                @include text($font-bold, $fs-text-lv1, $tcl-primary);
                position: relative;
                @include flexCenter();
                &::before {
                    content: "";
                    margin-right: 1.2rem;
                    display: block;
                    @include size(4.4rem, 0.4rem);
                    background-color: $color-primary;
                }
                @include xs() {
                    &::before {
                        content: unset;
                    }
                }
                @include xxs() {
                    display: none;
                }
            }
        }
        .icon-scroll {
            @include flexCenter();
            flex-direction: column;
            @include positionCenter("left");
            img:first-child {
                margin-bottom: 1.2rem;
                @include animation(
                    fadeMouse 1s 1s infinite alternate-reverse ease-in
                );
            }
            img:last-child {
                position: relative;
                @include animation(
                    fadeDown 1s 2s infinite alternate-reverse ease-in
                );
            }
            @include maxWidth(320px) {
                display: none;
            }
        }

        .control {
            @include flexCenter();
            &__next,
            &__previous {
                position: relative;
                border: 0.1rem solid $color-white;
                padding: 1.5rem 1.7rem;
                display: block;
                &::before {
                    content: "";
                    @include position(absolute, 0, null, 0, null);
                    background-color: $color-primary;
                    @include transition(all 0.3s);
                }
            }

            &__previous {
                &::before {
                    right: 0;
                    left: 100%;
                }
                &:hover::before {
                    left: 0;
                    @include transition(all 0.3s);
                }
                img {
                    @include transform(rotate(180deg));
                }
            }
            &__next {
                margin-left: -0.1rem;
                &::before {
                    right: 100%;
                    left: 0;
                }
                &:hover::before {
                    right: 0;
                    @include transition(all 0.3s);
                }
                img {
                    z-index: 1;
                    position: relative;
                }
            }
            @include xxs() {
                display: none;
            }
        }
    }
    @include sm() {
        margin-top: $height-header;
    }
}

/* ----------------------- Product ---------------------- */
.product {
    padding-bottom: 0;

    &__item {
        overflow: hidden;
        @include flex(null, space-between, center);
        @include xs() {
            flex-direction: column;
        }
        &-content {
            width: 48%;
            flex-shrink: 0;
            padding-left: 10rem;
            padding-right: 4rem;
            @include sm() {
                width: 55%;
                padding-left: 8rem;
            }
            @include xs() {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 2rem;
            }
            &::before {
                @include xs() {
                    content: unset;
                }
            }
        }
        &-img {
            flex-shrink: 0;
            @include sm() {
                width: 45%;
            }
            @include xs() {
                width: 100%;
            }
        }
        &:nth-child(even) {
            flex-direction: row-reverse;
            margin-top: 10rem;
            .product__item-content {
                text-align: right;
                padding-right: 8rem;
                padding-left: 4rem;
                h3.line {
                    &::before {
                        left: calc(100% + 1.5rem);
                        @include xs() {
                            content: unset;
                        }
                    }
                }
                a {
                    margin-left: auto;
                }
                @include xs() {
                    width: 100%;
                    padding-left: 0;
                    padding-right: 0;
                    margin-bottom: 2rem;
                }
            }
            .product__item-img {
                @include xs() {
                    width: 100%;
                }
            }
            @include sm() {
                margin-top: 7rem;
            }
            @include xs() {
                flex-direction: column;
                margin-top: 5rem;
            }
        }
    }
}

/* ------------------------ Video ----------------------- */
.video {
    .section-title {
        text-align: center;
        h2 {
            position: relative;
            padding-bottom: 1.8rem;
            &::before {
                @include pseudo(block, null);
                bottom: 0;
                @include positionCenter("left");
                @include size(3.7rem, 0.3rem);
                background-color: $color-primary;
            }
        }
        p {
            max-width: 46.5rem;
            margin: 1.8rem auto;
        }
    }
    &__list {
        @include flex(null, space-around);
        margin-top: 4.7rem;
        &-item {
            text-align: center;
            @include xs() {
                &:not(:last-child) {
                    margin-bottom: 3rem;
                }
            }
            .thumbnail {
                position: relative;
                display: block;
                @include size(23rem);
                @include borderRadius(50%);
                border: 0.2rem solid #f3f3f3;
                cursor: pointer;
                @include sm() {
                    @include size(20rem);
                }
                @include xs() {
                    @include size(26rem);
                }
                .video-thumbnail {
                    @include imageCenter(100%);
                    @include borderRadius(inherit);
                    padding: 1.2rem;
                }
                .icon-play {
                    i {
                        @include positionCenter("both");
                        @include size(5rem);
                        @include borderRadius(50%);
                        overflow: hidden;
                        img {
                            position: absolute;
                            @include positionCenter("both");
                            z-index: 99;
                            left: 54%;
                        }
                        &::before {
                            @include pseudo();
                            background-color: $color-primary;
                            opacity: 0.7;
                            @include size(inherit);
                            z-index: 1;
                        }
                    }
                }
                &::before {
                    @include pseudo(block, null);
                    @include size(2.2rem, 0.3rem);
                    @include positionCenter("left");
                    bottom: -2rem;
                    background-color: $color-primary;
                }
            }
            .title {
                @include text($font-body, $fs-body, $tcl-black);
                position: relative;
                margin-top: 4.4rem;
            }
        }
        @include xs() {
            flex-direction: column;
            align-items: center;
        }
    }
}

/* ------------------------ Intro ----------------------- */
.intro {
    padding: 18rem 0;
    background-image: url("../images/background-intro.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    @include maxWidth(1024px) {
        padding: 14rem 0;
    }
    @include maxWidth(576px) {
        padding: 10rem 0;
    }
    .block-text {
        .title {
            max-width: 45%;
            line-height: 5rem;
            color: $tcl-primary;
        }
        p {
            max-width: 57rem;
            color: $tcl-white;
        }
        a {
            img {
                margin-left: 0;
                margin-right: 1.5rem;
            }
        }
        @include sm() {
            .title,
            p,
            a {
                margin: auto;
                text-align: center;
            }
            .title {
                max-width: 80%;
                margin-bottom: 1rem;
            }
            p {
                max-width: 80%;
                margin: 2.7rem auto;
                display: block;
            }
        }
        @include xs() {
            .title,
            p,
            a {
                margin: auto;
                text-align: center;
            }
            .title {
                max-width: 100%;
                font-size: 3.6rem;
            }
            p {
                max-width: 100%;
                margin: 2rem auto;
                display: block;
            }
        }
        @include maxWidth(375px) {
            .title {
                font-size: 3rem;
            }
        }
    }
}
