.btn {
    position: relative;
    @include text($font-bold, $fs-text-lv4, $tcl-black, 0.2rem, uppercase);
    @include flex(null, null, center);
    @include transition(all 0.3s);
    width: max-content;
    &--outline {
        color: $tcl-white;
        justify-content: center;
        border: 0.1rem solid $color-white;
        padding: 1.5rem 4rem;
        z-index: 1;
        &::before {
            @include pseudo();
            left: 50%;
            right: 50%;
            top: 0;
            bottom: 0;
            background-color: $color-primary;
            @include transition(all 0.3s);
            z-index: -1;
        }
        &:hover::before {
            left: 0;
            right: 0;
            @include transition(all 0.3s);
        }
        img {
            margin-left: 1.5rem;
        }
    }
    &--primary {
        padding-bottom: 0.8rem;
        &::before {
            @include pseudo(block, null);
            @include size(3.8rem, 0.2rem);
            background: $color-primary;
            @include position(absolute, null, null, 0, 0);
        }
        img {
            margin-left: 1rem;
        }
        &:hover {
            color: $color-primary;
            @include transition(all 0.3s);
        }
    }
}

.block-text {
    .title {
        @include text(
            $font-bold,
            $fs-heading-lv2,
            $tcl-dark,
            0.07rem,
            uppercase
        );
        @include xxs() {
            font-size: 3.2rem;
        }
        &.line {
            position: relative;
            &::before {
                @include pseudo(block, unset);
                @include size(100%, 0.2rem);
                background-color: $color-black;
                right: calc(100% + 1.5rem);
                @include positionCenter("top");
            }
        }
    }
    p {
        @include text($font-body, $fs-body, $tcl-body, 0.025rem, null, 2.2rem);
        margin: 2.7rem 0;
        @include over-text(3);
        @include sm() {
            margin: 2rem 0;
        }

        @include xs() {
            margin: 1rem 0;
        }
    }
}

.section-title {
    h2 {
        @include text(
            $font-bold,
            $fs-heading-lv2,
            $tcl-black,
            0.5rem,
            uppercase
        );
        padding-bottom: 1.8rem;
        @include sm() {
            letter-spacing: 0.2rem;
        }
        @include xxs() {
            font-size: 3.2rem;
        }
    }
    p {
        line-height: 2.2rem;
    }
}
