img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    outline: none;
}

.hidden {
    display: none;
}

@include keyframes(fadeMouse) {
    to {
        opacity: 0;
    }
    from {
        opacity: 1;
    }
}

@include keyframes(fadeDown) {
    to {
        opacity: 1;
        top: 0;
    }
    from {
        opacity: 0;
        top: 2rem;
    }
}
